! Run $ xrdb ~/.Xresources to source after updating

! Display settings

! dpi scaling - 96, 120 (25% higher), 144 (50% higher), 168 (75% higher), 192 (100% higher)
Xft.dpi: 120
Xft.autohint: false
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! Define terminal/vim  colors

! Colors sourced from https://material.io/guidelines/style/color.html#color-color-palette

! foreground / background
*.foreground:   #EEEEEE
*.background:   #1B2428
*.cursorColor:  #EEEEEE

! dark black 00
*.color0:       #455A64
! black 08
*.color8:       #78909C

! dark red 01
*.color1:       #B32727
! red
*.color9:       #F22010

! dark green 02
*.color2:       #3F9343
! green
*.color10:      #65BB69

! dark yellow 03
*.color3:       #FAB406
! yellow
*.color11:      #EED500

! dark blue
*.color4:       #1562AF
! blue
*.color12:      #0C82E0

! dark purple 05
*.color5:       #7E58C2
! purple
*.color13:      #9C80D0

! dark teal 06
*.color6:       #007468
! teal
*.color14:      #409C93

! dark white 07
*.color7:       #A9A9A9
! white 0F
*.color15:      #DADADA


! terminal emulator settings
URxvt*termName: rxvt-unicode-256color
URxvt.font: xft:Inconsolata for Powerline:regular:size=12
URxvt.letterSpace: -0.4
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
URxvt.cursorBlink:          true


! Transparency settings (depricated in favor of compton transparency)
! URxvt.transparent: true
! URxvt.shading: 30


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.font: Source Sans Pro 16
rofi.padding: 16
rofi.lines: 10
rofi.bw: 3
rofi.color-enabled: true
rofi.color-window: #1B2428, #2196F3, #1B2428
rofi.color-normal: #1B2428, #2196F3, #1B2428, #2196F3, #1B2428
rofi.color-active: #1B2428, #2196F3, #1B2428, #2196F3, #1B2428
rofi.color-urgent: #1B2428, #2196F3, #1B2428, #2196F3, #1B2428

