! Run $ xrdb ~/.Xresources to source after updating

! Display settings

! xps stats
! ( xdpyinfo | grep -B 2 resolution )
! dimensions: 1920x1080 pixels (293x165 millimeters)
! resolution: 166x166 dots per inch

! dpi scaling: 96, 120 (25% higher), 144 (50% higher), 168 (75% higher), 192 (100% higher)
Xft.dpi: 144
Xft.autohint: false
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! Define terminal/vim  colors


! special
*.foreground:   #D8DBD9
*.background:   #1d1f21
*.cursorColor:  #D8DBD9

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #22b45b
*.color10:      #22b45b

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #296eff
*.color12:      #296eff

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #296eff
*.color14:      #296eff

! white
*.color7:       #D8DBD9
*.color15:      #ffffff



! terminal emulator settings
URxvt*termName: rxvt-unicode-256color
URxvt.font: xft:Hack:Regular:size=10
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
URxvt.cursorBlink:          true
URxvt*cursorUnderline:      false
! URxvt.letterSpace: 


! Transparency settings (depricated in favor of compton transparency)
! URxvt.transparent: true
! URxvt.shading: 30
